{% load static %}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>CLT {% block title %} {% endblock title %}</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Quicksales login">
    <meta name="author" content="MARVEX">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- FontAwesome JS-->
    <script defer src="{% static 'assets/plugins/fontawesome/js/all.min.js' %}"></script>
    
    <!-- App CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/portal.css' %}">

</head> 

<body class="app app-login p-0">   
   
                {% block content %}
                <div class="row py-5">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="card-title py-3" style="text-align: center;">
                                    <h4 class="">Create your  account</h4>
                                </div>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    {{form}}
                                    <input type="submit" name="Create Account" class="btn btn-primary">
                                </form>
                                <div class="align-center" style="text-align: center;">
                                <small>already have an account <a href="{% url 'login' %}">login</a></small>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>

<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Email';
    form_fields[2].placeholder='Username';
    form_fields[3].placeholder='Enter Password';
    form_fields[4].placeholder='Confirm Password';

    for (var field in form_fields){
        form_fields[field].className += ' form-control'
    }
</script>

{% endblock %}
</body>
</html>